body {
  margin-left: 25%;
  margin-right:10%;
  margin-top: 10px;
  font-family: arial, sans-serif;
}

a {
  color: #333;
  font-size: 14px;
  text-decoration: none;
}

h1 {
  font-style: italic;
  margin-bottom: 10px;
}

#container {
  clear: both;
  margin-top: 10px;
}

.link {
  clear: both;
  margin-bottom: 5px;
  padding: 5px;
  min-height: 50px;
}

.error {
  border: red solid 4px;
  padding: 10px;
  margin: 0 10px;
}

.clean {
  border: #efe solid 2px;
  padding: 10px;
  margin: 0 10px;
}

.creator {
  height: 50px;
}

.creator form {
  float: left;
  height: 80px;
}

.creator img.spinner {
  height: 46px;
  margin-bottom: 5px;
  padding: 10px;
  display: none;
}

.creator .message {
  clear: both;
}
.champion-icon {
  max-height: 100%;
  max-width: 100%;
}
.champion-icon-large {
  max-height: 100%;
  max-width: 100%;
}
.skin-preview {
  max-width: 100%;
  max-height: 100%;
}
.lore{
  margin-top:25px;
  padding-top:25px;
}
nav .nav-wrapper form, nav .nav-wrapper form .input-field{
height: 100%;
}
#faq{
  padding:30px;
}